# Ignore directories
static/node_modules/*
static/admin/*
.vagrant/*
Vagrantfile
ubuntu-xenial-16.04-cloudimg-console
__pycache__/*
gestion/__pycache__/*
listes/__pycache__/*
listes/migrations/*
db.sqlite3
migrations/*
listes/media/*
venv/*