<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modification étudiant-e</title>
</head>
<body>
    <h1>Modifier étudiant-e {{ etu.prenom }} {{ etu.nom }}</h1>
    Formulaire<br>
     <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <button type="button"><a href="{% url 'admin_etudiant' user.id %}" class="btn btn-primary">Retour</a></button>
    <button><a href="{% url 'deconnexion' %}">Déconexion</a></button>
</body>
</html>