<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modification d'un-e professeur-e</title>
</head>
<body>
    <h1>Modifier professeur X</h1>
    Formulaire<br>
    <button type="button"><a href="{% url 'admin_professeur' admin.id %}" class="btn btn-primary">Retour</a></button>
    <button><a href="{% url 'deconnexion' %}">Déconexion</a></button>

    <form action="{% url 'admin_modifier_professeur' admin.id user.id%}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</body>
</html>